<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HoovesSound | Music for bronies music for everyone</title>
    <link rel="stylesheet" href="/static/css/fave.css">
</head>
<body>
<div class="container">
    <h1>Fave Tracks</h1>
    <%if(tracks.tracks.length >= 1 || tracks.tracks === null){%>
    <div class="tracks">
        <%tracks.tracks.forEach((track, index) => {%>
        <div id="<%=track._id%>">
            <div class="playPuaseButton material-icons" fullname="<%=track.author.fullName%>" username="<%=track.author.username%>" title="<%=track.title%>" trackid="<%=track._id%>" onclick="playMusic(this)">play_arrow</div>
            <a href="/track/<%=track.author.username%>/<%=track.title%>"><%=track.author.fullName%> - <%=track.title%></a>
        </div>
        <%});%>

    </div>
    <%}else{%>
    <p>You didn't fave any tracks yet</p>
    <%}%>
</div>
<script>
    <%if(tracks.tracks.length >= 1){%>
    if(audio.paused){
        audio.src = "<%=full_address%>/api/listen/<%=tracks.tracks[0]._id%>?token<%=token%>";
    }
    <%}%>
</script>
<script src="/static/js/latestTracks.js"></script>
</body>
</html>