<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HoovesSound | Music for bronies music for everyone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/app.css">
    <script>
        var full_address = "<%=full_address%>";
        var $full_address = "<%=full_address%>";
        var token = "<%=token%>";
        var $token = "<%=token%>";
        var audio = new Audio();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
    <script src="//anglibs.github.io/angular-location-update/angular-location-update.js"></script>
    <script src="/static/js/angular/index.js"></script>
    <script src="/static/js/angular/router.js"></script>
    <script src="/static/js/angular/editTrack.js"></script>
    <%- include('includes/adsense')%>
</head>
<body>
    <div id="app" ng-app="hs">
        <%- include('includes/nav')%>
        <div id="view" ng-view></div>
    </div>
    <div class="masterPlayer">
        <div class="playPuaseButton material-icons">play_arrow</div>
        <a class="title" href="/track/<%=track.author.username%>/<%=track.title%>"><%=track.author.fullName%> - <%=track.title%></a>
        <div class="volume">
            <i class="material-icons">volume_up</i>
            <input type="range" value="100" max="100" id="volumeBar">
        </div>
    </div>
    <script src="/static/js/hotkey.js"></script>
    <script src="/static/js/latestTracks.js"></script>
</body>
</html>