<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HoovesSound | Music For Bronies Music For Everyone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var full_address = "<%=full_address%>";
        var token = "<%=token%>";
        var $full_address = full_address;
        var $token = token;
        var audio = new Audio();
        var io = io();
        // Web socket test
        io.on('init:testing', function (payload) {
            if(io.id === payload.yourId){
                console.log(payload.msg);
                console.log(payload.yourId)
            }else{
                console.log('Something when wrong!! please fire an issue at the HoovesSound sound GitHub repo');
                location.reload();
            }
        });

        // Init audio
        audio.src = '<%=initAudioSource%>';
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
    <script src="//anglibs.github.io/angular-location-update/angular-location-update.js"></script>
    <script src="/static/js/angular/index.js"></script>
    <script src="/static/js/angular/router.js"></script>
    <script src="/static/js/angular/editTrack.js"></script>
    <script src="/static/js/angular/homeTrackLink.js"></script>
    <script src="/static/js/angular/toEditTrack.js"></script>
    <script src="/static/js/angular/masterPlayerTitle.js"></script>
    <script src="/static/js/angular/getMoreContent.js"></script>
    <%- include('includes/adsense')%>
</head>
<body>
    <div id="app" ng-app="hs">
        <%- include('includes/nav')%>
        <div id="view" ng-view></div>
            <%if(loginUser.lastPlay.isPlaying){%>
            <div class="masterPlayer remotePlay">
            <%}else{%>
            <div class="masterPlayer">
            <%}%>
            <div class="playPuaseButton material-icons" fullname="<%=track.author.fullName%>" username="<%=track.author.username%>" title="<%=track.title%>" trackid="<%=track._id%>">
                <%if(loginUser.lastPlay.isPlaying){%>
                    pause
                <%}else{%>
                  play_arrow
                <%}%>
            </div>
            <a username="<%=track.author.username%>" title="<%=track.title%>" ng-click="masterPlayerTitle($event)" ng-controller="masterPlayerTitle" class="title" href="/track/<%=track.author.username%>/<%=track.title%>"><%=track.author.fullName%> - <%=track.title%></a>
            <div class="volume">
                <i class="material-icons">volume_up</i>
                <input type="range" value="100" max="100" id="volumeBar">
                <%if(volume){%>
                <script>
                    audio.volume = <%=volume%> / 100;
                    volumeBar.value = <%=volume%>;
                </script>
                <%}%>
            </div>
        </div>
        <div id="footer">
            <hr>
            &copy; <%=year%> HoovesSound <br>
            <a href="https://github.com/hoovessound">GitHub</a> <br><br>
            <a id="donate" href="https://www.patreon.com/felixfong227">
                <p class="text">patreon</p>
            </a>
        </div>
    </div>
    <script src="/static/js/hotkey.js"></script>
    <script src="/static/js/latestTracks.js"></script>
    <script src="/static/js/notification.js"></script>
</body>
</html>