<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%if(profile === null){%>
        <title>HoovesSound | No Such A User</title>
    <%}else{%>
        <title>HoovesSound | <%=profile.fullName%></title>
    <%}%>
    <link rel="stylesheet" href="/static/css/profile.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include('includes/nav')%>
    <%if(profile === null){%>
        <div class="container">
            <p>There not such a user :/</p>
        </div>
    <%}else{%>

        <%if(tracks.length >= 1){%>
            <div class="masterPlayer">
                <div class="playPuaseButton material-icons">play_arrow</div>
                <a href="<%=full_address%>/track/<%=tracks[0].author.username%>/<%=tracks[0].title%>" class="title"><%=tracks[0].author.fullName%> - <%=tracks[0].title%></a>
                <div class="volume">
                    <i class="material-icons">volume_up</i>
                    <input type="range" value="100" max="100" min="0" id="volumeBar">
                </div>
            </div>
        <%}%>

        <div class="container">
            <div id="userInfo" style="background-image: url('<%=profile.banner%>')">
                <img src="<%=profile.icon%>" alt="" class="profilePicture">
                <div id="roles">
                    <%profile.roles.forEach(role => {%>
                        <%const title = Object.keys(role)[0];%>
                        <%const fsIcon = role[title];%>
                        <div class="role <%=title%> fa fa-<%=fsIcon%>" title="<%=title%>"></div>
                    <%});%>
                </div>
                <h1 id="username"><%=profile.fullName%></h1>
                <%if(profile.username === loginUser.username){%>
                    <a class="btn btn-success" href="/settings">Settings</a>
                <%}%>
            </div>

            <hr>
            <h1 class="title">Users' tracks</h1>
            <%if(tracks.length <= 0){%>
                <p>Looks like this user never upload an track yet :/</p>
            <%}else{%>
                <%tracks.forEach(track => {%>
                    <div class="tracks">
                        <div id="<%=track._id%>">
                            <img src="<%=track.coverImage%>" alt="" class="coverImage">
                            <div class="playPuaseButton material-icons" fullname="<%=track.author.fullName%>" username="<%=track.author.username%>" title="<%=track.title%>" trackid="<%=track._id%>" onclick="playMusic(this)">play_arrow</div>
                            <a href="<%=full_address%>/track/<%=track.author.username%>/<%=track.title%>"><%=track.author.fullName%> - <%=track.title%></a>
                        </div>
                    </div>
                <%})%>
            <%}%>
        </div>
        <script>
            const $full_address = "<%=full_address%>";
            <%if(tracks.length > 0){%>
                const audio = new Audio();
                audio.src = "<%=full_address%>/api/listen/<%=tracks[0]._id%>";
            <%}%>
        </script>
        <script src="/static/js/profile.js"></script>
    <%}%>
</body>
</html>