<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HoovesSound | Search</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/search.css">
    <%- include('includes/adsense')%>
</head>
<body>
    <%- include('includes/nav')%>
    <div class="container">
        <h1>Search</h1>
        <%if(users){%>
            <%users.forEach(user => {%>
                <div class="user">
                    <a href="<%=full_address%>/user/<%=user.username%>">
                        <img src="<%=user.icon%>" alt="" class="icon">
                        <%=user.fullName%>
                    </a>
                </div>
            <%})%>
        <%}%>

        <%if(tracks.length >= 1){%>
        <%tracks.forEach((track, index) => {%>
            <div id="<%=track._id%>">
                <div class="playPuaseButton material-icons" fullname="<%=track.author.fullName%>" username="<%=track.author.username%>" title="<%=track.title%>" trackid="<%=track._id%>" onclick="playMusic(this)">play_arrow</div>
                <a href="/track/<%=track.author.username%>/<%=track.title%>"><%=track.author.fullName%> - <%=track.title%></a>
                <div class="player">
                    <div class="timmer">
                        <spam class="current"></spam>
                        <spam class="total"></spam>
                    </div>
                </div>
            </div>
            <%});%>
        <%}%>
    </div>
    <script>
        const $full_address = "<%=full_address%>";
        const audio = new Audio();
        var token = "<%=token%>";
    </script>
</body>
</html>