<link rel="stylesheet" href="/static/css/search.css">
<div class="container">
    <h1>Search</h1>
    <%if(users){%>
    <%users.forEach(user => {%>
    <div class="user">
        <a href="<%=full_address%>/user/<%=user.username%>">
            <img src="<%=user.icon%>" alt="" class="icon">
            <%=user.fullName%>
        </a>
    </div>
    <%})%>
    <%}%>

    <%if(tracks.length >= 1){%>
    <%tracks.forEach((track) => {%>
    <div id="<%=track._id%>" style="background-image: url(<%=track.coverImage%>);" class="trackContainer">
        <div class="playPuaseButton material-icons" fullname="<%=track.author.fullName%>" username="<%=track.author.username%>" title="<%=track.title%>" trackid="<%=track._id%>" onclick="playMusic(this)">play_arrow</div>
        <a href="<%=full_address%>/track/<%=track.author.username%>/<%=track.title%>" ng-controller="homeTrackLink" ng-click="homeTrackLink($event); $event.stopPropagation();" fullname="<%=track.author.fullName%>" username="<%=track.author.username%>" title="<%=track.title%>" class="trackName"><%=track.author.fullName%> - <%=track.title%></a>
    </div>
    <%});%>
    <%}%>
</div>